<div class="wallet">
    <div class="cards-deposits">
        <div class="option">
            <div class="selected-option"></div>
            <div class="option-title">
                <h2>Cards</h2>
                <hr>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <div class="title">
                    <span class="bank-name">corzbank </span>
                    <small> | </small>
                    <span class="card-type"> Universal bank</span>
                </div>
                <div class="card-field">
                    <span class="card-number">5168 **** **** 9987</span>
                    <span class="expiration-date">08/24</span>
                </div>
                <div class="card-field">
                    <span class="balance">4124$</span>
                    <span class="payment-system">VISA</span>
                </div>
            </div>
        </div>
        <div class="option">
            <!-- <div class="selected-option"></div> -->
            <div class="option-title">
                <hr>
                <h2>Deposits</h2>
                <hr>
            </div>
        </div>
        <div class="deposits">
        </div>
    </div>
    <div class="details">

        <h1>Deposittttttt</h1>
    </div>
</div>