<div class="navbar">
    <div class="block">
        <div class="home">
            <div class="logo">
                <img src="assets/images/logo.png" alt="logo">
            </div>
        </div>
        <div class="wallet">
            <span>Wallet</span>
        </div>
        <div class="services">
            <span>Services</span>
            <i class="fa fa-angle-down"></i>
        </div>
    </div>
    <div class="block">
        <div class="exchange">
            <span>$ 32.487 / 36.579</span>
        </div>
        <button class="account" (click)="openDialog()">
            <i class="far fa-user"></i>
            <p>Sign up</p>
        </button>
    </div>
</div>
<hr>