<div class="navbar">
    <div class="block">    
        <div class="logo">
            <img src="assets/photos/logo.png" alt="logo">
        </div>
        <span>Wallet</span>
        <div class="services">
            <span>Services</span>
            <i class="fa fa-angle-down"></i>
        </div>
    </div>
    <div class="block">
        <div class="exchange">
            <span>$ 32.487 / 36.579</span>
        </div>
        <div class="account">
            <i class="far fa-user"></i>
            <p>Sign up</p>
        </div>
    </div>
</div>
<hr>