<div class="homepage">
    <div class="services box">
        <div class="money-transfers function">
            <div class="icon">
                <i class='fas fa-angle-right fa-lg'></i>
                <i class='fas fa-angle-right fa-lg'></i>
            </div>
            <div class="service">
                <h3>Money Transfers</h3>
                <i class='fas fa-chevron-right fa-lg'></i>
            </div>
        </div>
        <div class="payments function">
            <div class="icon">
                <i>$</i>
            </div>
            <div class="service">
                <h3>Payments</h3>
                <i class='fas fa-chevron-right fa-lg'></i>
            </div>
        </div>
        <div class="deposits function">
            <div class="icon">
                <i>%</i>
            </div>
            <div class="service">
                <h3>Deposits</h3>
                <i class='fas fa-chevron-right fa-lg'></i>
            </div>
        </div>
        <div class="telecomunications function">
            <div class="icon">
                <i class='fas fa-signal'></i>
            </div>
            <div class="service">
                <h3>Telecomunications</h3>
                <i class='fas fa-chevron-right fa-lg'></i>
            </div>
        </div>
        <div class="charity function">
            <div class="icon">
                <i class='fas fa-heart'></i>
            </div>
            <div class="service">
                <h3>Charity</h3>
                <i class='fas fa-chevron-right fa-lg'></i>
            </div>
        </div>
        <div class="terminals function">
            <div class="icon">
                <i class='fas fa-building'></i>
            </div>
            <div class="service">
                <h3>Terminals</h3>
                <i class='fas fa-chevron-right fa-lg'></i>
            </div>
        </div>
    </div>
    <div class="information-banner box">
        <img src="assets/images/banner.jpg" alt="banner">
    </div>
    <div class="transfer-card box">
        <div class="money-transfer">
            <div class="icon">
                <i class='fas fa-credit-card'></i>
            </div>
            <h3>Money Transfer</h3>
        </div>
        <div class="card-number">
            <div>
                <p>{{creditCard | appCardTranform}}</p>
                <hr>
            </div>
            <div class="icon">
                <i class='fas fa-chevron-right fa-lg'></i>
            </div>
        </div>
    </div>
    <div class="transfer-phone box">
        <div class="mobile-top-up">
            <div class="icon">
                <i class='fas fa-mobile'></i>
            </div>
            <h3>Mobile top-up</h3>
        </div>
        <div class="phone-number">
            <div class="phone">
                <div class="country-code">
                    <p>+380</p>
                    <i class='fas fa-caret-down'></i>
                </div>
                <div class="vertical-line">
                    <div class="line"></div>
                </div>
                <div class="number">
                    <p>{{phoneNumber | appPhoneTransform}}</p>
                </div>
            </div>
            <hr>
            <div class="icon">
                <i class='fas fa-chevron-right fa-lg'></i>
            </div>
        </div>
    </div>
</div>