<div class="homepage">
    <div class="services box">
        <div class="money-transfers function">
            <div class="icon">
                <i class='fas fa-angle-right fa-lg'></i>
                <i class='fas fa-angle-right fa-lg'></i>
            </div>
            <div class="service">
                <h3>Money Transfers</h3>
                <i class='fas fa-chevron-right fa-lg'></i>
            </div>
        </div>
        <div class="payments function">
            <div class="icon">
                <i>$</i>
            </div>
            <div class="service">
                <h3>Payments</h3>
                <i class='fas fa-chevron-right fa-lg'></i>
            </div>
        </div>
        <div class="deposits function">
            <div class="icon">
                <i>%</i>
            </div>
            <div class="service">
                <h3>Deposits</h3>
                <i class='fas fa-chevron-right fa-lg'></i>
            </div>
        </div>
        <div class="telecomunications function">
            <div class="icon">
                <i class='fas fa-signal'></i>
            </div>
            <div class="service">
                <h3>Telecomunications</h3>
                <i class='fas fa-chevron-right fa-lg'></i>
            </div>
        </div>
        <div class="charity function">
            <div class="icon">
                <i class='fas fa-heart'></i>
            </div>
            <div class="service">
                <h3>Charity</h3>
                <i class='fas fa-chevron-right fa-lg'></i>
            </div>
        </div>
        <div class="terminals function">
            <div class="icon">
                <i class='fas fa-building'></i>
            </div>
            <div class="service">
                <h3>Terminals</h3>
                <i class='fas fa-chevron-right fa-lg'></i>
            </div>
        </div>
    </div>
    <div class="information-banner box">
        
    </div>
    <div class="transfer-card box">
        
    </div>
    <div class="transfer-phone box">
        
    </div>
</div>
