<div class="homepage">
	<ul class="services box">
		<li>
			<div class="money-transfers function">
				<div class="icon">
					<i class="fas fa-angle-right fa-lg"></i>
					<i class="fas fa-angle-right fa-lg"></i>
				</div>
				<div class="service">
					<h3>Money Transfers</h3>
					<i class="fas fa-chevron-right fa-lg"></i>
				</div>
			</div>
			<ul>
				<li>
					<div class="money-transfers function">
						<div class="icon">
							<i class="fas fa-credit-card"></i>
						</div>
						<div class="service">
							<h3>Transfer to a card</h3>
						</div>
					</div>
				</li>
			</ul>
		</li>
		<li>
			<div class="payments function">
				<div class="icon">
					<i>$</i>
				</div>
				<div class="service">
					<h3>Payments</h3>
					<i class="fas fa-chevron-right fa-lg"></i>
				</div>
			</div>
			<ul>
				<li>
					<div class="payments function">
						<div class="icon">
							<i>$</i>
						</div>
						<div class="service">
							<h3>Payments1</h3>
						</div>
					</div>
				</li>
				<li>
					<div class="payments function">
						<div class="icon">
							<i>$</i>
						</div>
						<div class="service">
							<h3>Payments2</h3>
						</div>
					</div>
				</li>
			</ul>
		</li>
		<li>
			<div class="deposits function">
				<div class="icon">
					<i>%</i>
				</div>
				<div class="service">
					<h3>Deposits</h3>
					<i class="fas fa-chevron-right fa-lg"></i>
				</div>
			</div>
			<ul>
				<li>
					<div class="deposits function">
						<div class="icon">
							<i>+</i>
						</div>
						<div class="service">
							<h3>Open Deposit</h3>
						</div>
					</div>
				</li>
				<li>
					<div class="deposits function">
						<div class="icon">
							<i>%</i>
						</div>
						<div class="service">
							<h3>My Deposits</h3>
						</div>
					</div>
				</li>
			</ul>
		</li>
		<li>
			<div class="telecomunications function">
				<div class="icon">
					<i class="fas fa-signal"></i>
				</div>
				<div class="service">
					<h3>Telecomunications</h3>
					<i class="fas fa-chevron-right fa-lg"></i>
				</div>
			</div>
		</li>
		<li>
			<div class="transports function">
				<div class="icon">
					<i class="fas fa-bus"></i>
				</div>
				<div class="service">
					<h3>Transports</h3>
					<i class="fas fa-chevron-right fa-lg"></i>
				</div>
			</div>
			<ul>
				<li>
					<div class="transports function">
						<div class="icon">
							<i class="fas fa-bus"></i>
						</div>
						<div class="service">
							<h3>Bus Tickets</h3>
						</div>
					</div>
				</li>
				<li>
					<div class="transports function">
						<div class="icon">
							<i class="fas plane fa-plane"></i>
						</div>
						<div class="service">
							<h3>Flight Tickets</h3>
						</div>
					</div>
				</li>
			</ul>
		</li>
	</ul>
	<div class="information-banner box">
		<img src="assets/images/banner.jpg" alt="banner" />
	</div>
	<div class="transfer-card box">
		<div class="money-transfer">
			<div class="icon">
				<i class="fas fa-credit-card"></i>
			</div>
			<h3>Money Transfer</h3>
		</div>
		<div class="card-number">
			<div>
				<p>{{ creditCard | card }}</p>
				<hr />
			</div>
			<div class="icon">
				<i class="fas fa-chevron-right fa-lg"></i>
			</div>
		</div>
	</div>
	<div class="transfer-phone box">
		<div class="mobile-top-up">
			<div class="icon">
				<i class="fas fa-mobile"></i>
			</div>
			<h3>Mobile top-up</h3>
		</div>
		<div class="phone-number">
			<div class="phone">
				<div class="country-code">
					<p>+380</p>
					<i class="fas fa-caret-down"></i>
				</div>
				<div class="vertical-line">
					<div class="line"></div>
				</div>
				<div class="number">
					<p>{{ phoneNumber | phone }}</p>
				</div>
			</div>
			<hr />
			<div class="icon">
				<i class="fas fa-chevron-right fa-lg"></i>
			</div>
		</div>
	</div>
</div>
