* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.registration {
    background-color: #2b273d;
    height: 755px;
    width: 470px;
}

.buttons {
    color: #767676;
    font-size: 42px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.buttons button {
    background: transparent;
    border: none;
    outline: none;
    color: #767676;
}

.go-back {
    font-size: 30px;
}

.title {
    color: #a1a1a1;
    font-size: 35px;
    padding: 3px 0;
}

.field {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 70px;
    align-items: center;
    width: 280px;
}

.field-input {
    color: white;
    letter-spacing: 1px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 2px solid #65D5B3;
    padding: 5px 10px;
    width: 100%;
}

.field-password {
    height: 115px;
    text-align: start;
}

.field-input input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 0 10px;
    color: white;
}

form,
.auth-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.sign-in {
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: #65D5B3;
    font-size: 20px;
    font-weight: 500;
}

.sign-up {
    width: 160px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #65D5B3;
    background: transparent;
    font-size: 17px;
    color: #fff;
}

button {
    margin: 10px 0;
}

span {
    margin: 5px 0;
    color: red;
    font-size: 13px;
    display: flex;
    align-self: start;
    font-weight: 200;
}

.forgot-password {
    color: #787171;
    display: flex;
    width: 280px;
    margin: 0;
    font-size: 14px;
    justify-content: flex-end;
    cursor: pointer;
}

.confirmation-buttons a {
    padding-bottom: 15px;
    text-decoration: none;
    color: #646464;
}

.confirmation-buttons a:hover {
    text-decoration: underline;
    color: #a7a7a7
}

.confirmation-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13px;
}