<div class="set-password">
    <h3 class="title">Set New Password</h3>
    <form [formGroup]="setNewPasswordForm">
        <div [ngClass]="password.invalid && password.touched ? 'field-password field' : 'field'">
            <div class="field-input">
                <i class="fas fa-lock"></i>
                <input formControlName="password" placeholder="Password" type="password" class="password">
            </div>
            <span *ngIf="password && password.invalid && password.touched">Password is Required and must contain at
                least 6 characters, at least one number and both lower and uppercase letters and special
                characters</span>
        </div>
        <div class="field">
            <div class="field-input">
                <i class="fas fa-lock"></i>
                <input formControlName="confirmPassword" type="password" placeholder="Confirm Password"
                    class="confirmPassword">
            </div>
            <span *ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.touched">Password isn't
                match</span>
        </div>
    </form>
    <div>
        <button class="sign-in" [disabled]="setNewPasswordForm.invalid" (click)="setPassword()">Set</button>
    </div>
</div>