/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
body{
  text-align: -webkit-center;
  background-color: #24203A;
}
.container{
  max-width: 100%;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-h3, .mat-subheading-2, .mat-typography .mat-h3, .mat-typography .mat-subheading-2, .mat-typography h3,
.mat-p, .mat-subheading-2, .mat-typography .mat-h3, .mat-typography .mat-subheading-2, .mat-typography p {
  font-size: 25px;
    letter-spacing: 0;
    margin: 0;
}
.mat-dialog-container{
  padding: 0 !important;
  border-radius: 0 !important;
  box-shadow: 3px 4px #2e2e2e, -0.3em 0 0.8em #48483f;
}