*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
.navbar{
    background-color: green;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
}
.left-block , .right-block{
    display: flex;
    justify-content: space-between;
    width: 23%;
    align-items: baseline;
}
.navbar span{
    color: white;
    opacity: 65%;
}
.left-block .logo{
    background: transparent;
    border-radius: 50px;
    border: 3px solid #2D4A74;
}
.left-block img{
    width: 65px;
}
.right-block .account{
    display: -webkit-inline-box;
    width: 140px;
    border-radius: 32px;
    background: transparent;
    border: 3px solid #77D353;
    padding: 0 10px;
}
.account p, i{
    color: #77D353;
}

