*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    // background-color: green;
    // display: flex;
    // justify-content: center;
}
.navbar .navbar-block{
    height: 100px;
    display: contents;
    align-items: center;
    font-size: 25px;
    letter-spacing: 1px;
}
.left-block , .right-block{
    display: flex;
    justify-content: space-between;
    width: 23%;
    align-items: baseline;
    align-items: center;
}
.navbar span{
    color: white;
    opacity: 65%;
}
.left-block .circle{
    background: transparent;
    border-radius: 50px;
    border: 3px solid #2D4A74;
    height: 80px;
    width: 80px;
    position: relative;
}
.left-block img{
    width: 100px;
    position: absolute;
    right: 95.7%;
    top: 0%;
}
.left-block .services{
    display: flex;
    width: 140px;
    justify-content: space-between;
    align-items: center;
}
.right-block .account{
    display: -webkit-inline-box;
    width: 140px;
    height: 40px;
    -webkit-box-align: center;
    border-radius: 32px;
    background: transparent;
    border: 3px solid #77D353;
    padding: 0 10px;
    -webkit-box-pack: center;
    font-size: 18px;
    
}
.account p, .far{
    color: #77D353;
}
.services i{
    color: #a1a1a1;
}
.account .far{
    margin-right: 10px;
}