
.header{
    background-color: green;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
.left-block{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.right-block{
    display: flex;
    justify-content: space-between;
    width: 17%;
}
.left-block p{
    color: #c9c1c1;
}
