body{
    background-color: red;
    height: 200px;
}
.header{
    background-color: green;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.left-block{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.right-block{
    display: flex;
    justify-content: space-between;
    width: 10%;
}
