*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    // background-color: green;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    letter-spacing: 1px;
    width: 80%;
    margin-top: 10px;
}
.left-block , .right-block{
    display: flex;
    justify-content: space-between;
    width: 23%;
    align-items: baseline;
    align-items: center;
}
.left-block .logo{
    border: 2px solid #2D4A74;
    border-radius: 50px;
}
.navbar span{
    color: white;
    opacity: 65%;
    padding: 0 5px;
}
.left-block img {
    width: 70px;
    transform: scale(1.3);
}
.left-block .services{
    display: flex;
    width: 140px;
    justify-content: space-between;
    align-items: center;
}
.right-block .account{
    display: -webkit-inline-box;
    width: 140px;
    height: 40px;
    -webkit-box-align: center;
    border-radius: 32px;
    background: transparent;
    border: 3px solid #77D353;
    padding: 0 10px;
    -webkit-box-pack: center;
    font-size: 18px;
    
}
.account p, .far{
    color: #77D353;
}
.services i{
    color: #a1a1a1;
}
.account .far{
    margin-right: 10px;
}