* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.confirmation {
    background-color: #2b273d;
    height: 700px;
    width: 470px;
}

.title {
    color: white;
    letter-spacing: 1px;
    padding-top: 40px;
    font-size: 27px;
}

.text {
    height: 421px;
    background: white;
    margin-top: 65px;
    width: 306px;
    position: relative;
    border-radius: 5px;
    padding: 5px;
}

.submit {
    background: #6B6D6C;
    margin-top: 60px;
    height: 54px;
    width: 259px;
    border-radius: 7px;
    color: #fff;
    font-size: 28px;
    font-size: 29px;
    letter-spacing: 1px;
}

.resend-btn {
    width: 210px;
    margin-top: 40px;
    height: 45px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #C27576;
    color: white;
    font-size: 18px;
}

.text-title {
    display: flex;
    justify-content: end;
}

.text-title span {
    width: 247px;
    padding: 30px 24px;
    font-size: 22px;
    font-weight: 500;
}

.fas {
    transform: scale(5);
    position: absolute;
    top: 85px;
    left: 40px;
}

.description {
    display: flex;
    justify-content: end;
}

.description p {
    width: 272px;
    padding: 32px 20px 42px;
    letter-spacing: 1px;
    color: #c3c3c3;
    font-size: 20px;
}

code-input {
    --item-height: 50px;
    --item-width: 50px;
    --item-spacing: 20px;
    width: 300px;
    font-size: 25px;
}